body
{
  padding: 10px;
  margin: 10px;
}

header
{
  background-color: #B5FFB4;
  background-image: url("../images/flywheel.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

h1
{
  text-align: center;
	color: #ffffff  ;
	font-size: 60px;
  font-weight: bold;
	text-transform: uppercase;
}

nav a
{
display: inline-block;
margin: 2%;
-webkit-border-radius: 3;
-moz-border-radius: 3;
-o-border-radius: 3;
border-radius: 5px;

text-decoration: none;
padding: 2%;
font-size: x-large;
font-weight: 400;

text-align: center;
color: #470000 ;
background-color: rgba(174, 263, 164, 0.5);

vertical-align: middle;

	width:140px;
	height: 15px;

}

.active {
		background: rgba(0, 112, 50 , 0.65 );
    color: rgb(162, 255, 203 );
	}

  h2
  {
  	color: #4F0043   ;
  	font-size: 35px;
  	text-transform: uppercase;
  }

.left
{
  background-color: #2EAF64  ;
	width: 15%;
	float:left;
	padding: 2% ;
}

.left img
{
  border: solid 2px #000000;
	width: 90%;
	margin: 15px 15px 15px 15px;

}

.right
{
  display: inline-block;
  font-size: 20px;
  width: 72%;
  padding-left: 3%;
}
